@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5fbff;
  /* color: var(--foreground); */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  h1,
  h2,
  h3 {
    color: hsl(220 100% 15%);
  }

  h2 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;


    span {
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        display: block;
        background: linear-gradient(45deg,
            hsl(200 100% 35%),
            hsl(200 100% 25%));
        width: 100%;
        left: 0;
        height: 3px;
        bottom: 0;
        position: absolute;
      }
    }

    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }
  }

  h3 {
    font-size: 1.5rem;

    @media screen and (min-width: 768px) {
      font-size: 2.25rem;
    }
  }
}